@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Maven+Pro:wght@400;500;600&display=swap');
@import 'formalize';
@import 'normalize';
@import 'variables';
@import 'header';
@import 'content';

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

 